<div class="row">
    <div class="col-md-3">
        <a routerLink="/" href="" class="btn text-white"><i class="fa fa-arrow-circle-o-left"> Back To Dashboard</i></a>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header text-white text-center">
                EDITING SETTINGS
            </div>
            <div class="card-body">
                <form (submit)="onSubmit()">
                    <div class="form-group">
                        <label class="text-white">Allow Registration</label>&nbsp;&nbsp;
                        <input type="checkbox" class="check" name="allowRegistration" [checked]="settings.allowRegistration" (change)="settings.allowRegistration = !settings.allowRegistration">
                    </div>

                    <div class="form-group">
                        <label class="text-white">Disable Balance on Edit</label>&nbsp;&nbsp;
                        <input type="checkbox" class="check" name="disableBalanceOnEdit" [checked]="settings.disableBalanceOnEdit" (change)="settings.disableBalanceOnEdit= !settings.disableBalanceOnEdit">
                    </div>

                    <div class="form-group">
                        <label class="text-white">Disable Balance on Add</label>&nbsp;&nbsp;
                        <input type="checkbox"  class="check" name="disableBalanceOnAdd" [checked]="settings.disableBalanceOnAdd" (change)="settings.disableBalanceOnAdd = !settings.disableBalanceOnAdd">
                    </div>

                    <input type="submit" value="Update Settings" class="btn btn-block">
                </form>
            </div>
        </div>
    </div>


</div>